<%- partial('main_header.ejs') %>
<% title = "Tips and advices for " + role.name + " - Doonts"%>
<%
   metadescription = "";
   if (role.topAdvices.length >=1 ) {
      metadescription = role.topAdvices[0].text;
   }

%>
<% canonicalURL = role.href %>

<!-- top_title_advice -->
	<div class="top_title_advice">
		<p class="title">Advice for: </p>
		<a href="<%= role.href %>">@<%= role.capFirstName %></a>
		<span>Total advices: <%= role.advices.length %></span>
	</div>
<!-- end top_title_advice -->

<!-- nav_advice -->
<div class="nav_advice">
	<ul>
		<li class="latest active">
			<a href="#">latest</a>
		</li>
		<li class="top">
			<a href="#">ТОР advices</a>
		</li>
		<li class="media">
			<a  href="#">Media only</a>
		</li>
		</ul>
	</div>
<!-- end nav_advice -->

<!-- advices -->
<%- partial('role/adviceTabLatest.ejs') %>
<%- partial('role/adviceTabTop.ejs') %>
<%- partial('role/adviceTabMedia.ejs') %>

<!-- add_new_advice -->
		<div id="addAdvice" class="add_new_advice">
			<p class="title">add new advice:<span><span class="charsLeft">280</span> characters left</span></p>
			<form method="POST" action="/advice/create/<%= role.uid %>/">
				<div class="form_add_new_advice">
					<textarea name="text"></textarea>

					<!-- add_media_link -->
					<div class="add_media_link">
						<a class="link_youtube" href="#"></a>
						<a class="link_amazon" href="#"></a>
						<p>add media LINK</p>
					</div>
					<!-- end add_media_link -->

                    <div class="block_add_media_link">
						<p>Media attachement:</p><a class="link_youtube" href="#"></a>
						<input type="text" id="mediaLink" name="mediaLink">
						<input type="hidden" id="mediaType" name="mediaType">
						<a class="delete_addition" href="#">Delete</a>
					</div>


                    <!-- z_block_add_media_link -->
					<div class="z_block_add_media_link">
						<a class="icon" href="#"></a>
						<p>YOUTUBE LINK</p>
						<input type="text" name="" class="userinput">
						<input class="button_add_media" type="submit" value="ADD MEDIA">
						<a class="close button_add_media" href="#"></a>
					</div>
					<!-- end z_block_add_media_link -->

                    <!--  modal-background -->
                    <div class="modal-bg"></div>
                    <!-- end modal-background -->

					<input class="button submit_form" type="submit" value="ADD ADVICE">
				</div>
			</form>
		</div>
		<script>
		    window['roleName'] = "<%= role.name %>";
		</script>
<!-- end add_new_advice -->

<%- partial('seo_roles_footer.ejs')%>
<%- partial('main_footer.ejs') %>
