<%- partial('main_header.ejs') %>

<!-- top_title_advice -->
	<div class="top_title_advice">
		<p class="title">Advice for: </p>
		<a href="<%= role.href %>">@<%= role.name %></a>
		<span>Total ADVISES: <%= role.advices.length %></span>
	</div>
<!-- end top_title_advice -->

<!-- nav_advice -->
<div class="nav_advice">
	<ul>
		<li class="latest active">
			<a href="#">latest</a>
		</li>
		<li class="top">
			<a href="#">ТОР advise</a>
		</li>
		<li class="media">
			<a  href="#">Only media</a>
		</li>
		</ul>
	</div>
<!-- end nav_advice -->

<!-- advices -->
<%- partial('role/adviceTabLatest.ejs') %>
<%- partial('role/adviceTabTop.ejs') %>
<%- partial('role/adviceTabMedia.ejs') %>

<!-- add_new_advice -->
		<div class="add_new_advice">
			<p class="title">add new advice:<span><span class="charsLeft">280</span> characters left</span></p>
			<form method="POST" action="/advice/create/<%= role.uid %>/">
				<div class="form_add_new_advice">
					<textarea name="text"></textarea>

					<!-- add_media_link -->
					<div class="add_media_link">
						<a class="link_one" href="#"></a>
						<a class="link_two" href="#"></a>
						<a class="link_three" href="#"></a>
						<p>add media LINK</p>
					</div>
					<!-- end add_media_link -->

					<input class="button" type="submit" value="ADD ADVICE">
				</div>
			</form>
		</div>
		<script>initCharsLeftCounter();</script>
<!-- end add_new_advice -->

<%- partial('seo_roles_footer.ejs')%>
<%- partial('main_footer.ejs') %>
