<%- partial('main_header.ejs') %>

<!-- top_title_advice -->
	<div class="top_title_advice">
		<p class="title">Advice for: </p>
		<a href="<%= role.href %>">@<%= role.name %></a>
		<span>Total ADVISES: <%= role.advices.length %></span>
	</div>
<!-- end top_title_advice -->

<!-- nav_advice -->
<div class="nav_advice">
	<ul>
		<li class="active">
			<a href="#">latest</a>
		</li>
		<li>
			<a href="#">ТОР advise</a>
		</li>
		<li>
			<a  href="#">Only media</a>
		</li>
		</ul>
	</div>
<!-- end nav_advice -->

<!-- advices -->
<div class="advices">
    <% for(var i=0; i<=role.advices.length-1; i++) { %>

        <%
            var columnAdviceClass = "column_advices";
            if (i % 2 == 0) {
            columnAdviceClass = "column_advices_sh";
            }
        %>

        <!-- column_advices -->
        <div class="<%= columnAdviceClass %>">
            <!-- column_advices_inside -->
            <div class="column_advices_inside">

                <%- partial('role/advice.ejs', {advice: role.advices[i],
                                                role: role,
                                                author: role.advices[i].author}) %>

            </div>
            <!-- end column_advices_inside -->
        </div>
        <!-- end column_advices_sh -->
    <% } %>
</div>
<!-- end advices -->

<!-- add_new_advice -->
		<div class="add_new_advice">
			<p class="title">add new advice:<span>280 symbols MAX.</span></p>
			<form method="POST" action="/advice/create/<%= role.uid %>/">
				<div class="form_add_new_advice">
					<textarea name="text"></textarea>

					<!-- add_media_link -->
					<div class="add_media_link">
						<a class="link_one" href="#"></a>
						<a class="link_two" href="#"></a>
						<a class="link_three" href="#"></a>
						<p>add media LINK</p>
					</div>
					<!-- end add_media_link -->

					<input class="button" type="submit" value="ADD ADVICE">
				</div>
			</form>
		</div>
<!-- end add_new_advice -->

<%- partial('seo_roles_footer.ejs')%>
<%- partial('main_footer.ejs') %>
