<!-- column_advices_search_sh -->
			<div class="column_advices_search_sh<%if(virtualRole) {%> virtual-role<%}%>">

				<!-- column_advices_inside -->
				<div class="column_advices_inside">
                    <% var columnAdviceClass = "";
                    if (index % 2 == 0) {
                        columnAdviceClass = " active";
                    } %>

					<div class="column_div">
						<a href="<%= role.href %>" class="title_advices<%= columnAdviceClass %>">@<%= role.capFirstName %></a>
					</div>

					<div class="res_advices">
						<a href="<%= role.href %>"><%= role.advices.length %> advice<% if (role.advices.length > 1 || role.advices.length == 0) { %>s<% } %>
						</a>
					</div>

					<div class="fb_likes">
						<a href="<%= role.href %>"><%= role.totalFacebookLikes %> like<% if (role.totalFacebookLikes > 1 || role.totalFacebookLikes == 0) { %>s<% } %></a>
					</div>

                    <% if (typeof role.totalMedia != 'undefined' && role.totalMedia > 0) { %>
					<div class="including">
						<p>Including <a href="<%= role.href %>"><%= role.totalMedia%> media advice<% if (role.totalMedia > 1) { %>s<% } %></a></p>
					</div>
					<% } %>

					<div class="clear"></div>
				</div>
			</div>
<!-- end column_advices_search_sh -->