<div class="win_addition">
    <a class="link-win_addition" target="_blank" href="<%= amazonInfo.url %>">
        <img src="<%= amazonInfo.imgSrc %>" alt="<%= amazonInfo.title %>"/>
        <span class="r_win_add">
            <span class="title-media"><%= amazonInfo.title %></span>
            <span class="info-media"><%= amazonInfo.author %></span>
        </span>
    </a>
</div>