<%- partial('main_header.ejs') %>


<%- partial('static/banner_aboutus.ejs') %>

		<!-- advices -->
		<div class="advices">

			<div class="title_advices">
				<p class="title">TOP advices today:</p>
			</div>

        <% for(var i=0; i<roles.length; i++) {%>
            <%- partial('home/roleline.ejs', {role: roles[i], index: i}) %>
        <% } %>

		</div>
		<!-- end advices -->

<%- partial('seo_roles_footer.ejs')%>
<%- partial('main_footer.ejs') %>