<li id="<%= role.topAdvice.uid %>"><%= role.topAdvice.text %></li>
<img src="https://graph.facebook.com/<%= authors[role.topAdvice.author].uid %>/picture"/>
<div><%= authors[role.topAdvice.author].first_name %> <%= authors[role.topAdvice.author].last_name %></div>

 <% if(role.topAdvice.youtubeId && role.topAdvice.youtubeId.length >0) { %>
    <%- partial('externals/youtube.preview.ejs', {videoId: role.topAdvice.youtubeId}) %>
 <% } %>
<% if(role.topAdvice.amazon.asin && role.topAdvice.amazon.asin.length >0) { %>
    <%- partial('externals/amazon.preview.ajax.ejs', {amazonASIN: role.topAdvice.uid}) %>
<% } else { %>
    <%- partial('externals/amazon.preview.ejs', {amazonInfo: role.topAdvice.amazon}) %>
<% }  %>
<fb:like href="<%= role.href + "#" + role.topAdvice.uid %>" send="false" layout="button_count" show_faces="false"></fb:like>

 