<%
    var columnAdviceClass = "column_advices";
    if (index % 2 == 0) {
    columnAdviceClass = "column_advices_sh";
    }
%>

<!-- column_advices_sh -->
<div class="<%= columnAdviceClass %>">

    <!-- column_advices_inside -->
    <div class="column_advices_inside">
        <div class="column_div">
            <a href="<%= role.href %>" class="title_advices">@<%= role.name %></a>
            <a href="<%= role.href %>" class="comments"><%= role.advices.length %></a>
        </div>
        <%- partial('role/advice.ejs', {advice: role.topAdvice, role: role, author: authors[role.topAdvice.author]}) %>
    </div>
    <!-- end column_advices_inside -->

    <!-- note -->
    <div class="note">
        <a href="#"></a>
    </div>
    <!-- end note -->

</div>
<!-- end column_advices_sh -->


