<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb">
        <head>
            <meta http-equiv="content-type" content="text/html; charset=utf-8" />
            <title><%= title %></title>
            <meta property="og:site_name" content="Doonts.com"/>
            <meta property="fb:app_id" content="159891950744662"/>
            <meta property="fb:admins" content="andriy.samilyak,100001653083277"/>

            <% for(var key in og) {%>
                <meta property="og:<%- key %>" content="<%- og[key] %>"/>
            <% } %>

            <meta name="description" content="<%= metadescription %>"/>
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            <script type="text/javascript" src="/js/main.js"></script>
            <script type="text/javascript" src="/js/jquery.cookie.js"></script>
            <script type="text/javascript" src="/js/jquery.placeholder.min.js"></script>
            <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
            <link rel="stylesheet" href="/css/style.css" type="text/css"/>
            <link rel="stylesheet" href="/css/autoSuggest.css" type="text/css"/>
            <link rel="icon" href="/favicon.ico" type="image/x-icon" />
            <link rel="canonical" href="<%= canonicalURL %>" />
            <!--[if IE 7]><link rel="stylesheet" href="/css/ie7.css" type="text/css"/><![endif]-->
            <%- partial('externals/googleanalytics.ejs') %>
        </head>
        <body>
        <div id="fb-root"></div>
        <%- body %>
        </body>
    </html>
